@import url("https://fonts.googleapis.com/css?family=Play");

body {
  margin: 0;
  padding: 0;
  background: #1f1f1f;
  color: #fff;
  font-family: "Play", sans-serif;
  h1,h2,h3,h4{
    user-select: none;
    margin:0 auto;
  }
  a {
    text-decoration: none;
    color: #fff;
  }

  nav {
    background: #181818;
    position: fixed;
    z-index: 0;
    width: 100vw;
    top: 0;
    left: 0;
    font-size: 14px;
    height: 48px;

    li {
      list-style-type: none;
      display: inline-block;
      padding: 5px;
      margin-left:10px;

      a {
        text-decoration: none;
        color: #ebeff3;
      }
    }

    li:hover {
      background: #0e0e0e;
      cursor: pointer;

      a {
        text-decoration: none;
        color: #ebeff3;
      }
    }
  }
  form {
    text-align: center;
    margin:3% auto;
  }
  input {
    background: #282828;
    color: #ebeff3;
    border: 1px solid #7e7e7e;
    padding: 5px;
    border-radius: 2px;
    margin: 2px;
  }
  input:hover {
    border: 1px solid #c2c2c2;
  }
  input:focus {
    border: 1px solid #69acf8;
  }


  button {
    border: 0;
    background: #ff7d00;
    border-radius: 2px;
    width: 80px;
    height: 27px;
    box-shadow: 0px 1px 1px #000000;
    i {
      color: #ebeff3;
    }
    }button:hover {
      background: #ff9028;
      cursor: pointer;

    i {
      color: #ebeff3;
    }
  }

  .noticebar {
    position: fixed;
    width: 100vw;
    height: 5vh;
    left: 0;
    top: 48px;
    background: #ff7d00;
    text-align: center;
    box-shadow: 0px 1px 2px #000000;
    font-size: 13px;

    p {
      margin-top: 1.2vh;
    }
  }

  .changelogContainer {
    margin:2% auto;
    display: none;
    z-index: 2;
    background: #181818;
    padding: 3%;
  }
  .faqContainer {
    margin:2% auto;
    display: none;
    z-index: 2;
    background: #181818;
    padding: 3%;
  }

  .logoFixed {
    position: fixed;
    left: 12px;
    top: 8px;

    img {
      width: 35px;
    }
  }

  .container {
    margin-left: 4%;
    margin-top: 15vh;
    margin-right: 4%;

    .hidden {
      position: absolute;
    }
    .tableHeader {
      border-right:1px solid #ff7d00;
      border-left:1px solid #ff7d00;
      display:flex;
      justify-content: space-around;
      align-items: center;
      padding: 10px;
      background: #181818;
      margin: 2px 5%;
      font-size: 13px;
      width:80vw;
      height:30px;

    }
    .matchButton {
      border-right:1px solid #ff7d00;
      border-left:1px solid #ff7d00;
      display:flex;
      justify-content: space-around;
      align-items: center;
      padding: 10px;
      background: #181818;
      margin: 2px 5%;
      font-size: 13px;
      width:80vw;
      height:30px;
      div {
        text-align: left;
      }
      .time{
      width:130px;
      }
      .scoreline{
        width:6vw;
        justify-items: flex-start;
        margin-right:10%;
      }

    }
    .matchButton:hover{
        background: #1a1a1a;
      }
    .listitem {
      border-right:1px solid #ff7d00;
      border-left:1px solid #ff7d00;
      text-align: center;
      list-style-type: none;
      padding: 10px;
      background: #181818;
      margin: 2px 5%;
      font-size: 13px;
      width:80vw;
      height:30px;
      letter-spacing:1px;
    }
    .listitem:hover{
      background: #1a1a1a;
    }
    .spanWIN {
      color: #008000;
    }

    .spanLOSE {
      color: #ff0000;
    }
    .profiles{
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      
    .profileBox {
      border-right:2px solid #ff7d00;
      border-left:2px solid #ff7d00;
      display: flex;
      flex-direction: row;
      justify-content: center;
      border-radius: 2px;
      margin: 3px;
      background: #181818;
      width:43vw;
      height:120Px;
      
      img {
        width: 100px;
        height: 100px;
        padding: 5px;
        margin: auto 0;
      }

      p {
        margin: -1px;
        font-size: 13px;
      }

      h3 {
        margin: 1px auto;
      }

      .profileInfo {
        margin: auto 0;
      }
    }
  }
    .textOutput {
      p {
        margin: 2px auto;
      }
    }

  }

  .faceitLogo {
    position: fixed;
    right: 15px;
    top: 7px;

    img {
      width: 140px;
    }
  }
}

.flag-icon{
  z-index: 0;
  position:unset;
}