@import url("https://fonts.googleapis.com/css?family=Play");
body {
  margin: 0;
  padding: 0;
  background: #1f1f1f;
  color: #fff;
  font-family: "Play", sans-serif;
}

body h1, body h2, body h3, body h4 {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin: 0 auto;
}

body a {
  text-decoration: none;
  color: #fff;
}

body nav {
  background: #181818;
  position: fixed;
  z-index: 0;
  width: 100vw;
  top: 0;
  left: 0;
  font-size: 14px;
  height: 48px;
}

body nav li {
  list-style-type: none;
  display: inline-block;
  padding: 5px;
  margin-left: 10px;
}

body nav li a {
  text-decoration: none;
  color: #ebeff3;
}

body nav li:hover {
  background: #0e0e0e;
  cursor: pointer;
}

body nav li:hover a {
  text-decoration: none;
  color: #ebeff3;
}

body form {
  text-align: center;
  margin: 3% auto;
}

body input {
  background: #282828;
  color: #ebeff3;
  border: 1px solid #7e7e7e;
  padding: 5px;
  border-radius: 2px;
  margin: 2px;
}

body input:hover {
  border: 1px solid #c2c2c2;
}

body input:focus {
  border: 1px solid #69acf8;
}

body button {
  border: 0;
  background: #ff7d00;
  border-radius: 2px;
  width: 80px;
  height: 27px;
  -webkit-box-shadow: 0px 1px 1px #000000;
          box-shadow: 0px 1px 1px #000000;
}

body button i {
  color: #ebeff3;
}

body button:hover {
  background: #ff9028;
  cursor: pointer;
}

body button:hover i {
  color: #ebeff3;
}

body .noticebar {
  position: fixed;
  width: 100vw;
  height: 5vh;
  left: 0;
  top: 48px;
  background: #ff7d00;
  text-align: center;
  -webkit-box-shadow: 0px 1px 2px #000000;
          box-shadow: 0px 1px 2px #000000;
  font-size: 13px;
}

body .noticebar p {
  margin-top: 1.2vh;
}

body .changelogContainer {
  margin: 2% auto;
  display: none;
  z-index: 2;
  background: #181818;
  padding: 3%;
}

body .faqContainer {
  margin: 2% auto;
  display: none;
  z-index: 2;
  background: #181818;
  padding: 3%;
}

body .logoFixed {
  position: fixed;
  left: 12px;
  top: 8px;
}

body .logoFixed img {
  width: 35px;
}

body .container {
  margin-left: 4%;
  margin-top: 15vh;
  margin-right: 4%;
}

body .container .hidden {
  position: absolute;
}

body .container .tableHeader {
  border-right: 1px solid #ff7d00;
  border-left: 1px solid #ff7d00;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  background: #181818;
  margin: 2px 5%;
  font-size: 13px;
  width: 80vw;
  height: 30px;
}

body .container .matchButton {
  border-right: 1px solid #ff7d00;
  border-left: 1px solid #ff7d00;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  background: #181818;
  margin: 2px 5%;
  font-size: 13px;
  width: 80vw;
  height: 30px;
}

body .container .matchButton div {
  text-align: right;
  width: 20vw;
}

body .container .matchButton:hover {
  background: #1a1a1a;
}

body .container .buttonHead {
  border-right: 1px solid #ff7d00;
  border-left: 1px solid #ff7d00;
  -webkit-box-pack: safe;
      -ms-flex-pack: safe;
          justify-content: safe;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  background: #181818;
  margin: 5px 5%;
  font-size: 13px;
  width: 80vw;
  height: 30px;
  margin-top: 10px;
}

body .container .buttonHead:hover {
  background: #1a1a1a;
}

body .container .listItem {
  border-right: 1px solid #ff7d00;
  border-left: 1px solid #ff7d00;
  text-align: center;
  list-style-type: none;
  padding: 10px;
  background: #181818;
  margin: 2px 5%;
  font-size: 13px;
  width: 80vw;
  height: 30px;
  letter-spacing: 1px;
}

body .container .listItem:hover {
  background: #1a1a1a;
}

body .container .spanWIN {
  color: #008000;
}

body .container .spanLOSE {
  color: #ff0000;
}

body .container .profiles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

body .container .profiles .profileBox {
  border-right: 2px solid #ff7d00;
  border-left: 2px solid #ff7d00;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 2px;
  margin: 3px;
  background: #181818;
  width: 43vw;
  height: 20vh;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

body .container .profiles .profileBox img {
  width: 100px;
  height: 100px;
  padding: 5px;
  margin: auto 0;
}

body .container .profiles .profileBox p {
  margin: -1px;
  font-size: 13px;
}

body .container .profiles .profileBox h3 {
  margin: 1px auto;
}

body .container .profiles .profileBox .profileInfo {
  margin: auto 0;
}

body .container .textOutput p {
  margin: 2px auto;
}

body .faceitLogo {
  position: fixed;
  right: 15px;
  top: 7px;
}

body .faceitLogo img {
  width: 140px;
}

.flag-icon {
  z-index: 0;
  position: unset;
}
/*# sourceMappingURL=style.css.map */